<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
  <meta charset="utf-8"/>
  <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0"/>
  <title> Qabulxona </title>
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <!--<link rel="stylesheet" th:href="@{/static/lib/datatables/css/dataTables.bootstrap.min.css}" /> -->
  <link rel="stylesheet" th:href="@{/static/lib/datatables/css/dataTables.bootstrap.min.css}" />

  <link rel="icon" th:href="@{/assets/img/favicon.ico}"  type="image/png"/>
  <link rel="stylesheet" type="text/css" th:href="@{/plugins/css/fullcalendar.min.css}" />

  <link th:href="@{/assets/fonts/font-awesome/css/all.css}" rel="stylesheet" type="text/css"/>
  <link th:href="@{/assets/admin-tools/admin-forms/css/admin-forms.css}" rel="stylesheet" type="text/css"/>
  <link th:href="@{/assets/skin/default_skin/css/theme.css}" rel="stylesheet" type="text/css" />
  <link th:href="@{/assets/fonts/icomoon/icomoon.css}" rel="stylesheet" type="text/css" />
  <link th:href="@{/assets/fonts/iconsweets/iconsweets.css}" rel="stylesheet" type="text/css" />
  <link th:href="@{/assets/fonts/octicons/octicons.css}" rel="stylesheet" type="text/css" />
  <link th:href="@{/plugins/css/magnific-popup.css}" rel="stylesheet" type="text/css" />
  <link th:href="@{/plugins/css/loader.css}" rel="stylesheet" type="text/css" />


  <style>
    .bottom-column {
      float: none;
      display: table-cell;
      vertical-align: bottom;
    }
  </style>
</head>
</html>